apiVersion: apps/v1
kind: Deployment
metadata:
  name: mt-client-deployment
  namespace: ingress
spec:
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: mt-client
  template:
    metadata:
      labels:
        app: mt-client
    spec:
      serviceAccountName: mt-front-sa
      containers:
        - name: mt-client
          image: kangyejini/mt-front:5394ac95b4c4bd620e049856b8adf0f301534627
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: mt-client-config
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"