apiVersion: apps/v1
kind: Deployment
metadata:
  name: mt-client-deployment
  namespace: mt-front-nms
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mt-client
  template:
    metadata:
      labels:
        app: mt-client
    spec:
      serviceAccountName: mt-front-sa
      containers:
        - name: mt-client
          image: kangyejini/mt-front:test1
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: mt-client-config
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
